@charset "utf-8";

/* CSS Document */
* { padding: 0; margin: 0; }
body {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-family: "方正兰亭黑简体", Arial, Helvetica, sans-serif;
	font-size: 16px;
	background: #fff;
	text-align: left;
	position: relative;
	line-height: 20px;
	min-width: 1200px;
	background:#fff;
 }

/* img {margin-top:-5px;} */
clear { height: 0px; line-height: 0px; font-size: 0px; clear: both; visibility: hidden; overflow: hidden; padding: 0; margin: 0; }
div, ul, dl, dd, dt, li, td, tr, table, p, span, h1, h2, h3, h4, h5, h6, form {
	margin: 0px;
	padding: 0px;
	list-style: none;
	list-style-type: none;
	word-wrap: break-word;
	position: relative;
	border: none;
	font-weight: 400;
}
a {
	color: #999999;
	text-decoration: none;
	position: relative;
	cursor: pointer;
}
header, footer, nav, section, article, menu, aside { display: block; position: relative; }
textarea { resize: none; font-family: "微软雅黑"; font-size: 14px; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; }
input { font-family: "微软雅黑"; font-size: 14px; }
input:focus { outline: none; }
input.sub { cursor: pointer; background: none; border: none; }
input.text { background: none; border: none; }

.head{
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height:110px;

	/*导航透明*/
background-color:rgba(255,255,255,0.7);
}
/*导航透明*/
.head .logo{
	float: left;
	display:inline;
	margin-top: 28px;
}
.head .nav{  float: right; height:120px; line-height:120px;
}

.nav ul {
	width: 810px;

}
.nav li {
	font-size: 16px;
	float: left;
}

.nav   li   a {
	color: #333333;
	margin-left: 130px;
	line-height: 120px;
	display: block;
	height: 110px;
	width: 32px;
}
.head .top {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

.nav  a:hover {
	color: #FF6600;
	background-image: url(../img/Piece.jpg);
	background-position: center 75px;
	display: block;
	width: 32px;
	background-repeat: no-repeat;
}
.head .nav{ float: right; height:120px; line-height:120px;}
.head .nav a{
	color: #333;
	line-height:110px;
	padding:0 0px;
}
.head .nav a:hover,
.head .nav a.active{
	color: #FF6600;
}
/*导航底色边距*/
.picwrapbox{ padding-top:0px; width: 100%; height: auto; overflow: hidden; text-align: center; }
/*导航底色边距*/
.innerwrap{ width: 100%; overflow: hidden; height: auto;}
.innercontainer{ width: 1920px; height: auto; overflow: hidden;}
.picwrap{ width: 3000px; position: relative; margin-left: -1500px; left: 50%; }
.picwrap .picitem{ display: block; margin:0 auto; }




.dh {
	width:1100px;
	height:120px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.ds { width:1250px;}
.dc { width:1250px;}

/*top*/
.actGotop{position:fixed; _position:absolute; bottom:50px; right:50px; width:33px; height:33px; display:none; z-index:100;}
.actGotop a,.actGotop a:link{
	width:35px;
	height:35px;
	display:inline-block;
	outline:none;
	background-image: url(../img/gotop1.png.png);
	background-repeat: no-repeat;
}
.actGotop a:hover{
	background-image: url(../img/gotop.png.png);
	background-repeat: no-repeat;
}

/*top*/

/*热区去痕*/
 select, input, textarea,area { 
 border: none;
        outline: none;
        -webkit-tap-highlight-color: #fff;
       -webkit-tap-highlight-color: rgba(255, 255, 255, 255);
     } 
/*热区去痕*/
